div{
    background-color: brown;
    width: 200px;
    height: 200px;
    border: double;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
/* }external cssid and class */