/* div{
    background-color: rgb(235, 151, 151);
    width: 200px;
    height: 200px;
    border: double;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center ;
} */
 /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 div{
    background-color: mediumaquamarine;
    display: inline-block;
    display: none;
 }
 span{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: rgb(128, 124,92);
 } */
 nav{
    background-color: grey;
    height: 100px;
    /* display: flex ;
    justify-self: start; */
justify-content: space-between;

  }
  /* p,div,span{
    display: inline-block;
 } */ */
 /* div{
    border: 1px solid;
 } */ 