*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#box{
    height: 200px;
    width: 200px;
    background:red;
    animation-name: box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes box{
 to{
    transform:rotate(360deg) scale(4) ;
border-radius: 100px;
 }
}
