@import "tailwindcss";
/* .section5{
    animation-name: box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes box{
 to{
    transform:translate(4px) ;

 }
} */
/* .section5{
    animation: moveSection 3s ease-in-out infinite alternate;
}

@keyframes moveSection{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(40px);
    }
} */
/* .section5{
    animation: slide 8s linear infinite;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-200px);
    }
} */